<mat-card class="lobby-container">
  <div class="inner-container">
    <h1>pre-lobby</h1>
    <p>match id: {{ match?.id }}</p>
    <p>owner name: {{ match?.owner?.username }}</p>

    <!-- Match Settings Form -->
    <div *ngIf="isOwner" id="matchSettingsForm" class="match-settings-form">
      <h2>Match Settings:</h2>
      <form>
        <div class="form-group">
          <mat-form-field>
            <textarea
              type="text"
              id="sentences"
              matInput
              name="sentences"
              #sentences="ngModel"
              ngModel
              [(ngModel)]="allSentences"
              placeholder="Sentences (new line separated)"
              [rows]="7"
            ></textarea>
            <mat-error
              *ngIf="
                sentences.invalid && (sentences.dirty || sentences.touched)
              "
            >
              {{ sentences.errors ? "Sentences are required" : "" }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input
              type="number"
              id="pictureSelectionTime"
              matInput
              name="pictureSelectionTime"
              #pictureSelectionTime="ngModel"
              ngModel
              [(ngModel)]="matchSettings.pictureSelectionTimeSeconds"
              placeholder="Picture Selection Time (seconds)"
            />
            <mat-error
              *ngIf="
                pictureSelectionTime.invalid &&
                (pictureSelectionTime.dirty || pictureSelectionTime.touched)
              "
            >
              {{ pictureSelectionTime.errors ? "Pictures error" : "" }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input
              type="number"
              id="voteTime"
              matInput
              name="voteTime"
              #voteTime="ngModel"
              ngModel
              [(ngModel)]="matchSettings.voteTimeSeconds"
              placeholder="Vote Time (seconds)"
            />
            <mat-error
              *ngIf="voteTime.invalid && (voteTime.dirty || voteTime.touched)"
            >
              {{ voteTime.errors ? "Vote Time error" : "" }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input
              type="number"
              id="numOfVotesToWin"
              matInput
              name="numOfVotesToWin"
              #numOfVotesToWin="ngModel"
              ngModel
              [(ngModel)]="matchSettings.numOfVotesToWin"
              placeholder="Number of Votes to Win"
            />
            <mat-error
              *ngIf="
                numOfVotesToWin.invalid &&
                (numOfVotesToWin.dirty || numOfVotesToWin.touched)
              "
            >
              {{ numOfVotesToWin.errors ? "Number of Votes error" : "" }}
            </mat-error>
          </mat-form-field>
        </div>

        <div class="form-group">
          <mat-form-field>
            <input
              type="number"
              id="numOfRounds"
              matInput
              name="numOfRounds"
              #numOfRounds="ngModel"
              ngModel
              [(ngModel)]="matchSettings.numOfRounds"
              placeholder="Number of Rounds to Win"
            />
            <mat-error
              *ngIf="
                numOfRounds.invalid &&
                (numOfRounds.dirty || numOfRounds.touched)
              "
            >
              {{ numOfRounds.errors ? "Number of Rounds to Win error" : "" }}
            </mat-error>
          </mat-form-field>
        </div>
        <mat-error *ngIf="errorMessage">
          {{ errorMessage }}
        </mat-error>
      </form>
      <button
        class="start"
        color="primary"
        mat-raised-button
        (click)="startMatch()"
      >
        Start
      </button>
    </div>

    <!-- Users List -->
    <div>
      <h2>Users:</h2>
      <div class="users-container">
        <div *ngFor="let user of match?.users">{{ user.username }}</div>
      </div>
    </div>
    <button
      class="disconnect-button"
      color="warn"
      mat-raised-button
      (click)="disconnect()"
    >
      Disconnect
    </button>
  </div>
</mat-card>
