<mat-card class="upload-menu">
  <form
    class="form"
    (submit)="onSubmit(pictureForm)"
    enctype="multipart/form-data"
    #pictureForm="ngForm"
  >
    <input
      type="file"
      class="file-button"
      [accept]="'image/jpeg,image/png'"
      name="file"
      (change)="getFile($event)"
      ngModel
      required
      placeholder="Please choose a file"
    />
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="this.pictureFileToUpload == undefined"
    >
      upload
    </button>
  </form>
  <div class="upload-container" *ngIf="pictureDisplayURL != null">
    <img
      mat-card-image
      name="uploaded-picture"
      class="uploaded-picture"
      #uploadedPicture
      [src]="pictureDisplayURL"
    />
  </div>
</mat-card>
<div class="pictures-container" *ngIf="usersPictures.length > 0">
  <app-picture
    class="picture-item"
    *ngFor="let picture of this.usersPictures"
    [picture]="picture"
    [allowDelete]="isDeletable"
    (onDeletePicture)="removePicture($event)"
  >
  </app-picture>
</div>
