.lobby-container
{
  margin-left:  10%;
  margin-right: 10%;
  margin-top: 2%;
  text-align: center;
  height: 50vh;

}

li {
  margin-left: 0;
  padding-left: 0;
}
.users-container
{
  list-style: none;
  padding: 0;

}
h2
{
  max-height: 300px;
  margin-bottom: 0;
}
.inner-container
{
  padding-top: 2%;
}
