<p>pre-lobby</p>
<!-- <mat-card *ngIf="!id===owner.id" class="lobby-container">
  <p>Match owner: {{match.ownerName}}</p>
  <p>Connected users: </p>
    <ul>
      <li *ngFor="let userName of match.usersNames">{{ userName }} </li>
    </ul>
    <button mat-raised-button (click)="startGame()">start</button>
  <span>
    <button class="enterMatchButton" color="primary" mat-raised-button (click)="joinMatch()">Enter</button>
  </span>
</mat-card>
<mat-card *ngIf="!id!==owner.id"  class="lobby-container">
  <p>Match owner: {{match.ownerName}}</p>
  <p>Connected users: </p>
    <ul>
      <li *ngFor="let userName of match.usersNames">{{ userName }} </li>
    </ul>
</mat-card> -->

