<div class="in-match-container" [ngSwitch]="currentRound?.roundState">
  <h2>
    Sentence:<strong> {{ this.currentRound?.sentence }}</strong>
  </h2>
  <mat-card class="round-details">
    <h2>Current Round Details:</h2>
    <p>Round Index: {{ this.currentRound?.roundIndex }}</p>
    <p>
      Round State: <strong>{{ this.currentRound?.roundState }}</strong>
    </p>
    <p>
      Round Time: <strong>{{ this.countdown$ | async }}</strong>
    </p>
    <p *ngIf="currentRound?.roundState === RoundStates.ended">
      <strong>Winner: {{ currentRound!.roundWinner!.username }}</strong>
    </p>
    <button
      mat-raised-button
      color="warn"
      [disabled]="!this.currentRound?.picturesSelected"
      (click)="onLeaveMatchClicked()"
    >
      Disconnect
    </button>
  </mat-card>

  <app-in-match-picture-selection
    *ngSwitchCase="RoundStates.pictureSelection"
    [pictures]="this.usersPictures"
    [currentRound]="this.currentRound"
  ></app-in-match-picture-selection>

  <app-in-match-vote-picture
    *ngSwitchCase="RoundStates.voting || RoundStates.ended"
    [picturesToVote]="this.currentRound!.picturesSelected"
    [userPictureIds]="this.userPictureIds"
    [currentRound]="this.currentRound!"
  ></app-in-match-vote-picture>
</div>
