.in-match-container {
  display: grid;
  grid-template-columns: [left] minmax(15vw, 1fr) [right] 5fr;
  grid-template-rows: [top] 1fr [bottom] 4fr;
  grid-template-areas:
    "round-details sentence"
    "round-details pictures-container";
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-height: 100vh;
}

.sentence-container {
  grid-area: sentence;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-width: 50%;
}

.sentence-card {
  padding-top: 5px;
  padding: 0px 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.round-info-container {
  grid-area: round-details;
  display: flex;
  flex-direction: column;
}

.round-players {
  padding: 10px;
  overflow-y: scroll;
}

.round-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
}

.pictures-container {
  grid-area: pictures-container;
}
