.pictures-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 16px;
  overflow-y: scroll;
  height: 54vh; /* Stretched to the bottom of the screen */
}

.grid-item {
  width: 100%;
  box-sizing: border-box;
}

.lock-in-button {
  margin-top: 10px;
  left: 50%;
}
