.create-match-button {
  margin-bottom: 10px;
  margin-right: 10px;
}

.title {
  margin: 0 auto;
  text-decoration: underline;
  text-align: center;
  font-size: x-large;
  margin-bottom: 17px;
}

.matches-container {
  /* margin-left: 10%;
  margin-right: 10%; */
  margin: 0 auto;
  margin-top: 2%;
  width: 60vh;
}

.refresh-list {
  margin-bottom: 10px;
}
