<mat-card class="matches-container">
  <mat-card-title class="title">Matches</mat-card-title>
  <mat-card-content>
    <app-button-single-use (buttonClick)="createMatch()">
      Create a match
    </app-button-single-use>

    <button color="primary" mat-mini-fab (click)="loadMatches()">
      <mat-icon
      >refresh</mat-icon>
    </button>

    <app-match-list-item
      *ngFor="let match of this.matches"
      [match]="match"
      (onJoinMatch)="matchJoined($event)"
    ></app-match-list-item>
  </mat-card-content>
</mat-card>
