mat-toolbar {
  display: flex;
  justify-content: space-between;
}

.menu-container {
  list-style-type: none;
  display: flex;
  align-items: center;
}

li {
  display: inline-block;
  padding: 10px;
}

li a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

strong {
  margin: 0 10px;
}
