.grid-item {
  width: 100%;
  box-sizing: border-box;
  gap: 16px;
}

.picture-info {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.lock-in-button {
  margin-top: 10px;
  left: 50%;
}
