<div class="pictures-grid">
  <div *ngFor="let selectedPicture of picturesToVote" >
    <p
      class="picture-info"
      *ngIf="currentRound?.roundState === RoundStates.ended"
    >
      <strong
        >Selected By: {{ selectedPicture.selectedByUser!.username }}</strong
      >
      <strong>Votes: {{ selectedPicture.numOfVotes }}</strong>
    </p>
    <app-picture-item
    class="grid-item"
      [picture]="selectedPicture"
      (click)="selectPicture(selectedPicture)"
      [class.voted-picture]="selectedPicture.id === votedPictureId"
      [class.disabled-picture]="userPictureIds.has(selectedPicture.pictureId)"
      [class.winning-picture]="
        currentRound.roundWinner != undefined &&
        selectedPicture.selectedByUser?.id === currentRound.roundWinner.id
      "
    ></app-picture-item>
  </div>
</div>
<button
  class="lock-in-button"
  mat-raised-button
  color="primary"
  [disabled]="!votedPictureId || lockedIn"
  (click)="lockIn()"
>
  Lock-in Selection
</button>
