.form {
  min-width: 150px;
  max-width: 250px;
  width: 100%;
  margin: auto;
  
}

mat-card{
  margin: auto;
  width: fit-content;
  margin-top: 10%;
  padding: 10px;
}

.registration-title {
  text-align: center;
  margin-bottom: 20px;
}

.registration-title h2 {
  margin: 0;
}